<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{%block title%}{%endblock%}</title>
  </head>
  <body>
    <h1>my site</h1>
    {%block content%}{%endblock%}
    {%block footer%}
    <hr>
    <p> thanks for visiting my site</p>
    {%endblock%}
  </body>
  </html>
