<!DOCTYPE html>
<html>
<head>
	<title> Contact us</title>
</head>
<body>
	<h1>Contact us</h1>

  {%if forms.errors%}
    <p style='color:red;'>
      please correct the error {{form.errors|pluralize}} below
    </p>
  {%endif%}

  <form action='' method='post'>
    <table>
      {{form.as_table}}
    </table>
    <input type='submit' value='Submit'>
  </form>
</body>
</html>
