<!DOCTYPE html>
<html>
  <head>
    <title>Search </title>
  </head>
  <body>
    {%if error%}
      <p style='color:red;'> please submit a search term </p>
    {%endif%}
    <form action="/search/" method="get">
      <input type="text" name = 'q'>
      <input type = 'submit' value='Search'>
   </form>
  </body>
</html>
