<html>
  <body>
    <p> you searched for: <strong> {{q}}</strong> </p>

    {% if books%}
      <p> Found {{books|length}} book {{books|pluralize}}.</p>
      <ul>
        {% for book in books%}
          <li>{{book.title}}</li>
        {%endfor%}
        <ul>
    {%else%}
    <p>no books matched your search {{q}}</p>
    {%endif%}
  </body>
</html>
