<html>
  <head>
    <title>ordering notice</title>  
  </head>
  <body>
    <h1>ordering notice/h1>
      <p> Dear {{person_name}}, </p>
      <p> thanks for placing an order from {{company}}, it is scheduled to ship on {{ship_date|date:"F j,YU"}}.</p>
      <p> here are the items you have ordered:</p>
      <ul>
        {% for item in item_list %}
        <li>{{item}} </li>
        {% end for%}
      </ul>

      {%if ordered_warranty%}
      <p>your warranty information will be include in the packaging.</p>
      {%else %}
      <p> you did't order a warranty, so you're on your own when the products inevitably stop working.
      </p>
      {%end if%}

      <p> sincetely <br/>{{company}}</p>
  </body>
</html>
